pipeline/pl_formula1_api.json
{
	"name": "pl_formula1_api",
	"properties": {
		"activities": [
			{
				"name": "act_copy_sesons",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "HttpReadSettings",
							"requestMethod": "GET"
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "JsonWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "ds_adls_formula1",
						"type": "DatasetReference",
						"parameters": {
							"releative_url": "seasons.json?limit=100"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ds_adls_formulaone",
						"type": "DatasetReference",
						"parameters": {
							"directory_nm": {
								"value": "@concat('bronze/seasons',string(utcNow('yyyyMMdd')))",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "act_lookup_sesons_content",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "act_copy_sesons",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": false,
							"wildcardFolderPath": "@concat('bronze/seasons',string(utcNow('yyyyMMdd')))",
							"wildcardFileName": "*.json",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "ds_adls_formulaone",
						"type": "DatasetReference",
						"parameters": {
							"directory_nm": "@concat('')"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "act_foreach_session",
				"description": "This activity will iterate each session",
				"type": "ForEach",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "act_lookup_sesons_content",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('act_lookup_sesons_content').output.value[0].MRData.SeasonTable.Seasons",
						"type": "Expression"
					},
					"batchCount": 3,
					"activities": [
						{
							"name": "act_copy_data_race",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "JsonSource",
									"storeSettings": {
										"type": "HttpReadSettings",
										"requestMethod": "GET"
									},
									"formatSettings": {
										"type": "JsonReadSettings"
									}
								},
								"sink": {
									"type": "JsonSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings",
										"copyBehavior": "MergeFiles"
									},
									"formatSettings": {
										"type": "JsonWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "ds_http_api",
									"type": "DatasetReference",
									"parameters": {
										"relative_url": {
											"value": "@concat(item()['season'],'.json?limit=100')",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_http_api_sink",
									"type": "DatasetReference",
									"parameters": {
										"directory_nm": {
											"value": "@concat('bronze/race',string(utcNow('yyyyMMdd')))",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"annotations": []
	}
}